
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AppContainer {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

.button-whatsapp {
  border: 1px solid gray;
  width: 150px;
  background: green; 
}
h4, h3, h2{
  margin: 0.5rem 0.5rem;
}

a {
    
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  border: 1px dotted black;
}
a:hover {
  cursor: pointer;
  color: green;
}

.table-container {
  width: 250px;
  border: 2px solid black;
}

.table-header {
  display: flex;
  /* justify-content: space-between; */
  width: 250px;
}
.table-row {
  
  display: flex;
  /* justify-content: space-between;   */
  width: 250px;
}
.table-footer {
  border: 1px solid greenyellow;
  display: flex;
  /* justify-content: space-between; */
  width: 250px;
}

.mg p{
  margin: 0 0;
}
.s1 {
  width: 50px;
  
}
.s2 {
  width: 100px;
  
}
.s3 {
  width: 100px;
  
}


