.slidercontainer {
    text-align: center;
    height: 50px;
}

.slider {
	-webkit-appearance: none;
    width: 250px;
	/* height: 10px; */
    cursor: pointer;
	border-radius: 5px;
    background: transparent;
	/*background-image: linear-gradient(#010101, #f8e8e8);
	background-repeat: no-repeat; */
}

.slider::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 20px;
    border-radius: 10px;
}
.slider::-moz-range-track {
    background: #053a5f;
    height: 20px;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    /* Chrome, Safari, Edge*/
    -webkit-appearance: none;
    height: 35px;
    width: 15px;
    border-radius: 10px;
    /*margin-top = (track height in pixels / 2) - (thumb height in pixels /2)*/
    margin-top: -7.5px;
    background-color: aqua;
}
.slider::-moz-range-thumb {
    /* Mozilla firefox*/
    border: none;
    border-radius: 0;
    height: 35px;
    width: 15px;
    background-color: aqua;
}

.slider:focus {
    outline: none;
}

.slider:focus::-webkit-slider-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
}
  
.slider:focus::-moz-range-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;     
}